
@if (User.Identity.IsAuthenticated)




{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right navlinks" >
            <li>
                @Html.RenderActionLink("User: " + User.Identity.Name, "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "loginName" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.RenderActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "loginName" })</li>
    </ul>
}
<br />
<br />
<br />


<style>
    .navbar-right .loginName{
        margin-top: 10%!important;

    }
</style>