<!-- navSlider -->
<div id="wrapper" class="">

    <div id="sidebar-wrapper_blueGray">

        <ul class="sidebar-nav" id="sidebar">


            <li><a class="go_back" title="Back"><span style="font-size: 10px; position: fixed; bottom: 2px; margin-left: -18px">Back</span><span style="position:fixed; bottom: 15px; padding-left: 110px; margin-right: 0px" class="back_icon fas fa-arrow-alt-circle-left"></span></a></li>

        </ul>
    </div>
</div>
