@model HaloCareCore.Models.EnrolmentViewModel

@*@if (Model.Notes == null)
{
    <div class="alert-nav pull-right buzz-out-on-hover" id="sidebar">
        <a id="alert-toggle" href="#" title="Note"><span id="alert_iconX"><i class="sub_icon fas fa-sticky-note"></i></span></a>
    </div>
}
else
{
    <div class="alert-nav pull-right buzz-out-on-hover" id="sidebar">
        <a id="alert-toggle" href="#" title="Note"><span id="alert_icon"><i class="sub_icon fas fa-sticky-note"></i></span></a>
    </div>
}*@

@if (Model.Notes == null)
{
    <div class="special pull-right" id="sidebar">
        <a id="alert-toggle" href="#" title="Note"><span id="alert_iconX"><i class="sub_icon fas fa-sticky-note"></i></span></a>
    </div>
}
else
{
    <div class="special pull-right" id="sidebar">
        <a id="alert-toggle" href="#" title="Note"><span id="alert_icon"><i class="sub_icon fas fa-sticky-note"></i></span></a>
    </div>
}

<div id="alertWrapper" class="">
    <div id="sidebar-wrapper_alertNote">
        <div class="specialNote_header">
            @Html.Label(null, "Special note: ", htmlAttributes: new { @class = "control-label-member_view" })
        </div>
        <div class="specialNote_noteBody">
            @Html.DisplayFor(model => model.Notes.note)
        </div>
        @if (Model.Notes == null)
        {
            <div class="specialNote_addButton">
                @Html.ActionLink("Add", "AddNote", new { DependentID = Model.dependent.DependantID, pro = Context.Request.Query["pro"] }, null)
            </div>
        }
        @if (Model.Notes != null)
        {
            <div class="specialNote_addButton">
                @Html.ActionLink("Edit", "EditNote", "Member", new { NoteId = Model.Notes.noteID, pro = Context.Request.Query["pro"] }, null)
            </div>
        }
    </div>
</div>



