
@{
    ViewBag.Title = "hivClientDashboard";
    Layout = "~/Views/Shared/_LayoutReport_Menu.cshtml";
}


<style>
    .indexnav {
        margin-top: 100px;
    }

    body {
        background-image: url('../../Content/Images/Backgrounds/homePage/homePage_one.png');
        background-size: 100%;
    }
</style>

<div class="topBar_informationNavigation"><h2 class="topBar_Header">Operations Dashboard</h2></div>
<div class="topBar_image">
    <img src="~/Content/Images/memberProfile/topBar Icons/clientListX.png" style="width: 3.7%; margin-top: 0.4%" />
</div>
<br />
<br />
<br />
<br />





<!--Navigation Icons-->
<h2 style="color: #003366; font-size: 250%; text-align: center; margin-bottom: 10%"><i><span style="color: #0081b3">Operations Dashboard</span></i><br /> <span style="font-family: 'Antro Vectra'; font-size: 80%; padding-left: 10em">HIV/AIDs</span></h2>


<div class="container indexnav" style="margin-bottom: 10%">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            <!--Risk-->
            <div class="col-md-6 reportIcon">
                <a href="@Url.Action("hivRiskReport", "ReportManagement", null)">
                    <img src="~/Content/Images/Navigation/5. Reports/riskReport.png" style="width: 18%; margin-top: 13%; margin-bottom: 6.2%" />
                    <div class="col-xs-12 homenavbtns">
                        <h8>Risk <span>Report</span></h8>
                    </div>
                </a>
            </div>

            <!--patientList-->
            <div class="col-md-6">
                <a href="@Url.Action("hivPatientList", "ReportManagement", null)">
                    <img src="~/Content/Images/Navigation/5. Reports/patientListx.png" style="width: 16%; margin-top: 10%; margin-bottom: 6.2%" />
                    <div class="col-xs-12 homenavbtns">
                        <h8>Patient <span>List</span></h8>
                    </div>
                </a>
            </div>
            
        </div>
        <div class="col-md-2"></div>
    </div>
</div>


<footer class="backButton_Navigation" style="position: fixed; bottom: 1.5%; left: 50px">
    @Html.RenderActionLink("Back", "operationsDiseaseManagement", "ReportManagement")
</footer>

<footer>
    <img src="~/Content/Images/Navigation/5. Reports/hivReport.png" style="position:fixed; bottom:3.5%; right: 0; left: 0; margin-left: 96%; width: 1.5%">
</footer>




